<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.zhuang.dao.goods.EsDecorateSystemTemplatePageMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mei.zhuang.entity.goods.EsDecorateSystemTemplatePage">
        <id column="id" property="id"/>
        <result column="template_id" property="templateId"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="thumb" property="thumb"/>
        <result column="content" property="content"/>
        <result column="is_home" property="isHome"/>
        <result column="key" property="key"/>
        <result column="display_order" property="displayOrder"/>
        <result column="system_id" property="systemId"/>
    </resultMap>

</mapper>
