<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.zhuang.dao.order.EsShopOrderExportHistoryMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="EsShopOrderExportHistoryMap" type="com.mei.zhuang.entity.order.EsShopOrderExportHistory">
        <id column="id" property="id"/>
        <result column="shop_id" property="shopId"/>
        <result column="uid" property="uid"/>
        <result column="create_time" property="createTime"/>
        <result column="download_count" property="downloadCount"/>
        <result column="filename" property="filename"/>
        <result column="filepath" property="filepath"/>
        <result column="status" property="status"/>
        <result column="condition" property="condition"/>
        <result column="count" property="count"/>
        <result column="finish_time" property="finishTime"/>
        <result column="real_count" property="realCount"/>
    </resultMap>

</mapper>
