<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.zhuang.dao.goods.EsCoreAttachmentCategoryMapper">

    <resultMap id="BaseResultMap" type="com.mei.zhuang.entity.goods.EsCoreAttachmentCategory">
        <id column="id" property="id"/>
        <result column="uid" property="uid"/>
        <result column="shop_id" property="shopId"/>
        <result column="name" property="name"/>
        <result column="type" property="type"/>

    </resultMap>
    <select id="selectLists"
            resultType="com.mei.zhuang.entity.goods.EsCoreAttachmentCategory">
        select * from es_core_attachment_category where type=#{type} order by id asc
    </select>


</mapper>
