<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arvato.service.goods.api.orm.dao.EsDecorateTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mei.zhuang.entity.goods.EsDecorateTemplate">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="system_id" property="systemId"/>
        <result column="create_time" property="createTime"/>
        <result column="page_count" property="pageCount"/>
        <result column="release_time" property="releaseTime"/>
        <result column="shop_id" property="shopId"/>
        <result column="status" property="status"/>
        <result column="thumb" property="thumb"/>
        <result column="update_time" property="updateTime"/>
        <result column="common" property="common"/>
    </resultMap>

</mapper>
