<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arvato.service.goods.api.orm.dao.EsShopDiypageTemplateMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mei.zhuang.entity.goods.EsShopDiypageTemplate">
        <id column="id" property="id"/>
        <result column="uniacid" property="uniacid"/>
        <result column="type" property="type"/>
        <result column="name" property="name"/>
        <result column="data" property="data"/>
        <result column="preview" property="preview"/>
        <result column="tplid" property="tplid"/>
        <result column="cate" property="cate"/>
        <result column="deleted" property="deleted"/>
        <result column="merch" property="merch"/>
        <result column="create_time" property="createTime"/>
    </resultMap>

</mapper>
