<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.zhuang.dao.marking.EsShopSingleGiftRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mei.zhuang.entity.marking.EsShopSingleGiftRule">
        <result column="activity_type" property="activityType"/>
        <result column="single_gift_id" property="singleGiftId"/>
        <result column="id" property="id"/>
        <result column="shop_id" property="shopId"/>
        <result column="alread_amount" property="alreadAmount"/>
        <result column="song_amount" property="songAmount"/>
        <result column="max_amount" property="maxAmount"/>
        <result column="activity_name" property="activityName"/>
    </resultMap>

</mapper>
