<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.zhuang.dao.marking.EsShopFirstPurchaseRuleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mei.zhuang.entity.marking.EsShopFirstPurchaseRule">
        <result column="activity_type" property="activityType"/>
        <result column="first_purchase_id" property="firstPurchaseId"/>
        <result column="id" property="id"/>
        <result column="shop_id" property="shopId"/>
        <result column="gifts_id" property="giftsId"/>
        <result column="activity_name" property="activityName"/>
        <result column="goods_name" property="goodsName"/>
        <result column="pic" property="pic"/>
    </resultMap>

</mapper>
