<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.zhuang.dao.marking.EsShopFirstPurchaseGoodsMapMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mei.zhuang.entity.marking.EsShopFirstPurchaseGoodsMap">
        <result column="first_purchase_id" property="firstPurchaseId"/>
        <result column="goods_id" property="goodsId"/>
        <result column="spec_ids" property="specIds"/>
        <result column="activity_name" property="activityName"/>
    </resultMap>

</mapper>
