<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.zhuang.dao.sys.CrmHarassmentRightsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mei.zhuang.entity.sys.CrmHarassmentRights">
        <result column="id" property="id"/>
        <result column="prevent_harassment_config_id" property="preventHarassmentConfigId"/>
        <result column="residue" property="residue"/>
        <result column="dept_id" property="deptId"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="create_date" property="createDate"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user_id" property="updateUserId"/>
        <result column="update_date" property="updateDate"/>
        <result column="update_time" property="updateTime"/>
        <result column="sms_used_num" property="smsUsedNum"/>
        <result column="wechat_used_num" property="wechatUsedNum"/>
        <result column="mail_used_num" property="mailUsedNum"/>
        <result column="mms_used_num" property="mmsUsedNum"/>
    </resultMap>

    <select id="getallstore" resultType="map">
     select id , province,city,address,region from crm_store
where
     province is not null
and  city    is not null
and  address is not null
and  region  is not null
;
    </select>


</mapper>
