<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arvato.admin.orm.dao.CrmSysMenuMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.mei.zhuang.entity.sys.CrmSysMenu">
		<id column="id" property="id" />
		<result column="code" property="code" />
		<result column="name" property="name" />
		<result column="type" property="type" />
		<result column="p_id" property="pId" />
		<result column="href" property="href" />
		<result column="icon" property="icon" />
		<result column="order_num" property="orderNum" />
		<result column="description" property="description" />
		<result column="create_user_id" property="createUserId" />
		<result column="create_date" property="createDate" />
		<result column="create_time" property="createTime" />
		<result column="update_user_id" property="updateUserId" />
		<result column="update_date" property="updateDate" />
		<result column="update_time" property="updateTime" />
		<result column="version" property="version" />
	</resultMap>

	<select id="getMenuIdsByRoleId" resultType="int">
        SELECT
            menu_id
        FROM
            CRM_SYS_ROLE_MENU
        WHERE
            role_id = #{roleId}
    </select>

    <select id="menuTreeList" resultType="com.arvato.admin.vo.ZTreeNode">
        SELECT
		    m1.id,
		    (
		        CASE
		        WHEN (m2.ID = 0 OR m2.ID IS NULL) THEN
		            0
		        ELSE
		            m2.id
		        END
		    ) pId,
		    m1.name "name"
		FROM
		    CRM_SYS_MENU m1
		LEFT JOIN CRM_SYS_MENU m2 ON m1.p_id = m2.id
		ORDER BY
		    m1.order_num,id
    </select>

    <select id="menuTreeListByMenuIds" resultType="com.arvato.admin.vo.ZTreeNode">
        SELECT
		    m1.id,
		    (
		        CASE
		        WHEN (m2.id = 0 OR m2.id IS NULL) THEN
		            0
		        ELSE
		            m2.id
		        END
		    ) pId,
		    m1.name "NAME",
		    (
		        CASE
		        WHEN (m3.ID = 0 OR m3.ID IS NULL) THEN
		            'false'
		        ELSE
		            'true'
		        END
		    ) "checked"
		FROM
		    CRM_SYS_MENU m1
		LEFT JOIN CRM_SYS_MENU m2 ON m1.p_id = m2.id
		LEFT JOIN (
		    SELECT
		        ID
		    FROM
		        crm_sys_menu
		    WHERE
		        ID IN
		        <foreach collection="list" index="index" item="i" open="("
		            separator="," close=")">
		            #{i}
		        </foreach>
		) m3 ON m1.id = m3.id
		ORDER BY
		    m1.order_num,id
    </select>

    <select id="menuTreeListByMenuId" resultType="com.arvato.admin.vo.ZTreeNode">
	    SELECT
            m1.id AS id,
            (
                CASE
                WHEN (m2.id = 0 OR m2.id IS NULL) THEN
                    0
                ELSE
                    m2.id
                END
            ) AS pId,
            m1. NAME AS NAME,
            (
                CASE
                WHEN (m1.id = m3.p_id) THEN
                    'true'
                ELSE
                    'false'
                END
            ) "checked"
        FROM
            crm_sys_menu m1
        LEFT JOIN crm_sys_menu m2 ON m1.p_id = m2.id
	        LEFT JOIN (
	            select p_id from crm_sys_menu where id = #{menuId}
	        ) m3 on m1.id = m3.p_id
	        where m1.type != 3
        ORDER BY
            m1.order_num,m1.id
    </select>

    <!-- 获取左侧菜单 -->
    <select id="leftMenu" resultMap="BaseResultMap">
        SELECT
            id,
			code,
            name,
            p_id,
            href,
            icon,
            order_num,
            type
        FROM
            CRM_SYS_MENU t1
        INNER JOIN (
			SELECT menu_id from CRM_SYS_ROLE_MENU WHERE role_id in
			<foreach collection="roleIds" index="index" item="i" open="(" separator="," close=")">
                #{i}
            </foreach>
            group by menu_id
		) t2 on t1.id = t2.menu_id
	    AND t1.type != 3
		ORDER BY order_num
    </select>

    <select id="getPermissionButtons" resultMap="BaseResultMap">
        SELECT
		    t.id,
            t.code,
            t.icon,
            t.name,
            t.p_id,
            t.type
		FROM
		    crm_sys_menu t
		INNER JOIN (
		    SELECT
		        menu_id
		    FROM
		        crm_sys_role_menu t1
		    WHERE
		        t1.role_id IN
		        <foreach collection="roleIds" index="index" item="i" open="(" separator="," close=")">
	                #{i}
	            </foreach>
	            group by menu_id
		) t1 ON t.id = t1.menu_id
		WHERE
		    t.TYPE = 3
		AND t.p_id = #{menuId}
		order by t.order_num
    </select>

	<select id="getAllPermission" resultMap="BaseResultMap">
		SELECT
		t.id,
		t.code,
		t.icon,
		t.name,
		t.p_id,
		t.type
		FROM
		crm_sys_menu t
		INNER JOIN (
		SELECT
		menu_id
		FROM
		crm_sys_role_menu t1
		WHERE
		t1.role_id IN
		<foreach collection="roleIds" index="index" item="i" open="(" separator="," close=")">
			#{i}
		</foreach>
		group by menu_id
		) t1 ON t.id = t1.menu_id

		order by t.order_num
	</select>
	<select id="hasAuthByRoleIds" resultType="java.lang.Integer">
		SELECT
		count(1)
		FROM
		crm_sys_menu t
		INNER JOIN (
		SELECT
		menu_id,count(menu_id)
		FROM
		crm_sys_role_menu t1
		WHERE
		t1.role_id IN
		<foreach collection="roleIds" index="index" item="i" open="(" separator="," close=")">
			#{i}
		</foreach>
		group by menu_id
		) t1 ON t.id = t1.menu_id where 	t.href = #{name}

	</select>

	<select id="hasAuthByRoleIds2" resultType="java.lang.Integer">
		SELECT
		count(1)
		FROM
		crm_sys_menu_interface t
		INNER JOIN (
		SELECT
		menu_id
		FROM
		crm_sys_role_menu t1
		WHERE
		t1.role_id IN
		<foreach collection="roleIds" index="index" item="i" open="(" separator="," close=")">
			#{i}
		</foreach>
		group by menu_id
		) t1 ON t.menu_id = t1.menu_id where 	t.menu_interface =#{name}


	</select>


    <resultMap type="com.arvato.admin.vo.AuthMenuNode" id="AuthMenuMap">
        <result column="module_name" property="moduleName"/>
        <result column="menu_name" property="menuName"/>
        <result column="menu_id" property="menuId"/>
        <result column="role_id" property="roleId"/>
        <result column="module_id" property="moduleId"/>
        <result column="menu_checked" property="menuChecked"/>
        <result column="module_checked" property="moduleChecked"/>
        <collection property="buttonList" column="{menuId = menu_id,roleId = role_id}" select="getAllButtons"/>
        <collection property="dataAuthList" column="{menuId = menu_id,roleId = role_id}" select="getAllDataAuth"/>
    </resultMap>

	<select id="getMenuInfo" resultType="com.arvato.admin.vo.AuthMenuVo">
		 select DISTINCT t.* from ( SELECT
			t1.id menuId,
			t1."name" menuName,
			t1.p_id menuPid,
			t1.type menuType,
			(case when(t2.id is null) then 'false' else 'true' end) isChecked
		FROM
			crm_sys_menu t1
			LEFT JOIN crm_sys_role_menu t2
			ON t1.ID = t2.menu_id and t2.role_id = #{roleId}
		where t1.p_id = #{pid}
		order by t1.order_num)t
	</select>

    <select id="getAuthDistributionMenu" resultMap="AuthMenuMap">
        SELECT
		    t1.name module_name,
		    t2.name menu_name,
		    t1.id module_id,
		    (
		        CASE
		            WHEN (t2.id is null) THEN
		                t1."id"
		            ELSE
		                t2.id
		        END
		    )
		     menu_id,
		     #{roleId} role_id,
		     (
		      CASE
		          WHEN (t3.id is not null) THEN
		              'true'
		          ELSE
		              'false'
		      END
		     ) "menu_checked",
		     (
              CASE
                  WHEN (t4.id is not null) THEN
                      'true'
                  ELSE
                      'false'
              END
             ) "module_checked"
		FROM
		    crm_sys_menu t1
		LEFT JOIN crm_sys_menu t2
		on t2.p_id = t1.id and t2.TYPE = 2
		LEFT JOIN crm_sys_role_menu t3
        on t3.menu_id = t2.id and t3.role_id = #{roleId}
        LEFT JOIN crm_sys_role_menu t4
        on t4.menu_id = t1.id and t4.role_id = #{roleId}
		WHERE
		    t1.p_id = 0
		order by t1.order_num,t2.order_num
    </select>

    <select id="getAllButtons" resultType="com.arvato.admin.vo.ButtonNode">
        select distinct t.* from  (select
            t1.id,
            t1.code,
            t1.name,
            t1.p_id pId,
			(
			    CASE
			        WHEN (t2.id is null) THEN
			            'false'
			        ELSE
			            'true'
			    END
			) as "check"
		from crm_sys_menu t1
		LEFT JOIN crm_sys_role_menu t2
		on t1."id" = t2.menu_id
		and t2.role_id = #{roleId}
		where t1."type" = 3
		and t1.p_id = #{menuId}
		order by t1.order_num) t
    </select>

    <select id="getAllDataAuth" resultType="com.arvato.admin.vo.DataAuthNode">
        select distinct
            t1.value,
            t1.text,
		    (CASE
		      WHEN (t2.id is null) THEN
			    'false'
			  ELSE
			    'true'
			END) as "check"
		from ec_sys_dict t1
		LEFT JOIN crm_sys_data_auth t2
		on cast(t1.value as integer) = t2.data_auth_level and t2.role_id = #{roleId}
		and t2.menu_id = #{menuId}
		where t1.table_name = 'global'
		and field = 'data_auth_level'
    </select>

	<select id="getCountByOrderNumAndPid" resultType="int">
		select count(0) from crm_sys_menu where order_num = #{orderNum} and p_id = #{pid}
		<if test="id != null">
			and id != #{id}
		</if>
	</select>

	<select id="getMaxOrderNumByPid" resultType="int">
		select COALESCE(max(order_num), 0) from crm_sys_menu where p_id = #{pid}
	</select>

	<select id="getLevelByPid" resultType="int">
		select level from crm_sys_menu where id = #{pid}
	</select>

</mapper>
