<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.zhuang.dao.sys.CrmSysStatusColorMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mei.zhuang.entity.sys.CrmSysStatusColor">
        <id column="id" property="id" />
        <result column="status" property="status" />
        <result column="color" property="color" />
        <result column="create_user_id" property="createUserId" />
        <result column="create_date" property="createDate" />
        <result column="create_time" property="createTime" />
        <result column="update_user_id" property="updateUserId" />
        <result column="update_date" property="updateDate" />
        <result column="update_time" property="updateTime" />
        <result column="version" property="version" />
    </resultMap>

    <select id="getStatusColor" resultType="map">
        SELECT
          t1.id,
          t1.status as statusCode,
          t1.color,
		  t2.text as statusText
        FROM
          crm_sys_status_color t1
        LEFT JOIN
          crm_sys_dict t2
        ON t1.status = cast(t2.value as int)
        WHERE t2.field = 'campaign_status'
        ORDER BY t1.status
    </select>

</mapper>
