<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arvato.admin.orm.dao.CrmSysMenuInterfaceMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.mei.zhuang.entity.sys.CrmSysMenuInterface">
		<id column="id" property="id" />
		<result column="menu_id" property="menuId" />
		<result column="menu_interface" property="menuInterface" />
	</resultMap>


</mapper>
