<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.arvato.service.marking.api.orm.dao.EsShopCouponNewMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mei.zhuang.entity.marking.EsShopCouponNew">
        <result column="id" property="id" />
        <result column="single_coupon" property="singleCoupon" />
        <result column="vouchers_node" property="vouchersNode" />
        <result column="activity_id" property="activityId" />
        <result column="starting_time" property="startingTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
        <result column="coupon_newid" property="couponNewid" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <select id="couponnew" resultType="com.mei.zhuang.entity.marking.EsShopCouponNew">
        select * from es_shop_coupon_new where vouchers_node=#{vouchersNode}
    </select>
    <select id="listcouponnew" resultType="com.mei.zhuang.entity.marking.EsShopCouponNew">
    select * from es_shop_coupon_new
    </select>
</mapper>
