<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.zhuang.dao.marking.EsShopCouponShoppingMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mei.zhuang.entity.marking.EsShopCouponShopping">
        <id column="id" property="id" />
        <result column="activities_open" property="activitiesOpen" />
        <result column="scope_id" property="scopeId" />
        <result column="single_buy" property="singleBuy" />
        <result column="cumulative_buy" property="cumulativeBuy" />
        <result column="single_number" property="singleNumber" />
        <result column="cumulative_number" property="cumulativeNumber" />
        <result column="repertory" property="repertory" />
        <result column="push_id" property="pushId" />
        <result column="activities_validity" property="activitiesValidity" />
        <result column="starting_time" property="startingTime" />
        <result column="end_time" property="endTime" />
        <result column="coupon_shopid" property="couponShopid" />
        <result column="goodshop_id" property="goodshopId" />
        <result column="grouping" property="grouping" />
        <result column="classification" property="classification" />
        <result column="create_time" property="createTime" />
    </resultMap>
    <update id="updatestatusid">
        update es_shop_coupon_shopping set activities_open=#{param1} where id=#{param2}

    </update>

    <select id="selectshopping" resultType="java.util.Map">
        select shop.id,rule.coupon_name,shop.activities_open, shop.scope_id,shop.repertory,shop.coupon_shopid,shop.starting_time,shop.end_time
        from es_shop_coupon_new_rule rule,es_shop_coupon_shopping shop where  shop.coupon_shopid =rule.public_couponid order by shop.id desc
    </select>

</mapper>
