<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.zhuang.dao.marking.EsShopShareMemberAssistanceMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mei.zhuang.entity.marking.EsShopShareMemberAssistance">
        <id column="id" property="id"/>
        <result column="share_member_id" property="shareMemberId"/>
        <result column="assis_member_id" property="assisMemberId"/>
    </resultMap>

</mapper>
