<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.zhuang.dao.order.EsActivatySmallBeautyBoxGoodsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mei.zhuang.entity.order.EsActivatySmallBeautyBoxGoods">
        <id column="id" property="id"/>
        <result column="activaty_id" property="activatyId"/>
        <result column="product_name" property="productName"/>
        <result column="subtitle" property="subtitle"/>
        <result column="product_code" property="productCode"/>
        <result column="product_img" property="productImg"/>
        <result column="gift_name" property="giftName"/>
        <result column="gift_code" property="giftCode"/>
        <result column="gift_img" property="giftImg"/>
    </resultMap>
    <select id="selList" resultMap="BaseResultMap">
        select * from es_activaty_small_beauty_box_goods where activaty_id =#{activatyId} and product=#{product}
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(1) from es_activaty_small_beauty_box_goods where activaty_id =#{activatyId} and product=#{product}
    </select>

</mapper>
