<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.zhuang.dao.order.EsActivatySmallBeautyBoxMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.mei.zhuang.entity.order.EsActivatySmallBeautyBox">
        <id column="id" property="id"/>
        <result column="activaty_name" property="activatyName"/>
        <result column="create_time" property="createTime"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="step_number" property="stepNumber"/>
    </resultMap>
    <select id="selList" resultMap="BaseResultMap">
        select * from es_activaty_small_beauty_box
    </select>
    <select id="count" resultType="java.lang.Integer">
        select count(1) from es_activaty_small_beauty_box
    </select>
    <select id="select" resultType="com.mei.zhuang.entity.order.EsActivatySmallBeautyBox">
        select * from es_activaty_small_beauty_box where id !=#{id}
    </select>

</mapper>
