<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mei.zhuang.dao.order.EsShopCartMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="EsShopCartMap" type="com.mei.zhuang.entity.order.EsShopCart">
        <id column="id" property="id"/>
        <result column="create_time" property="createTime"/>
        <result column="goods_id" property="goodsId"/>
        <result column="is_lose_efficacy" property="isLoseEfficacy"/>
        <result column="total" property="total"/>
        <result column="is_selected" property="isSelected"/>
        <result column="member_id" property="memberId"/>
        <result column="option_id" property="optionId"/>
        <result column="price" property="price"/>
        <result column="shop_id" property="shopId"/>
        <result column="cust_id" property="custId"/>
        <result column="activaty_type" property="activatyType"/>
    </resultMap>

    <select id="cartGoodsCount" resultType="java.lang.Integer">
        select sum(total) from es_shop_cart
        where member_id = #{memberId}
    </select>

    <select id="shopNumber" resultType="java.lang.Long"
            parameterType="com.mei.zhuang.vo.data.trade.TradeAnalyzeParam">
  select member_id from es_shop_cart where
  create_time &gt;=  DATE_FORMAT(#{startTime}, '%Y-%m-%d')
  AND create_time &lt;=  DATE_FORMAT(#{endTime}, '%Y-%m-%d') group by member_id
    </select>
</mapper>
